body {
    background: url('../images/mediterraneansea2.jpg');
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1 {
    font-size: 20px;
    color: tomato;
    font-weight: bold;
}
.container {
    background: url('../images/concrete_seamless.png');
    background-repeat: no-repeat; 
    background-size: 100%;
    border: cyan;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    
   
}

#buttonFoods {
    color: blueviolet;
    font-weight: bold;
}

#search-box {
    float: right;
}